.calendar-container {
  display: flex;
  gap: 20px;
}

.calendar-left {
  flex: 1;
  max-width: 400px;
}

.calendar-right {
  flex: 2;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-y: auto;
}

.calendar h1 {
  margin-left: 25px;
  color: #7D0A0A;
  margin-bottom: 0px;
}

.week-details h2 {
  margin-bottom: 20px;
  color: #7D0A0A;
}

.day-details {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.day-details h3 {
  color: #8D0B41;
  margin-bottom: 10px;
}

.day-details ul {
  list-style-type: none;
  padding: 0;
}

.day-details li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.active-day {
  background-color: #8D0B41;
  border-color: #8D0B41;
  color: white;
}

.active-day h3 {
  color: white;
}

.active-day ul li {
  color: white;
}

.day-details:hover {
  background-color: #ead6d6;
  color: #8D0B41;
}

.event-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
}

.calendar-right {
  flex: 2;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.day-details {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}