.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    padding: 15px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .sidebar h2 {
    font-size: 22px;
    font-weight: bold;
    color: #205781;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #205781;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #f0f4ff;
    color: #0C0950;
  }
  
  .sidebar a.active {
    background-color: #e7f3ff;
    color: #0C0950;
    font-weight: 600;
  }
  
  .logout {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #d9534f; 
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-top: 300px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .logout:hover {
    background-color: #fdecea; 
    color: #d9534f;
  }
  
  .logout svg {
    margin-right: 10px;
  }
  
  .notification-link {
    position: relative;
    display: flex;
    align-items: center;
}

.notification-badge {
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -10px;
}
