/* MainContentContainer.css */
.projects-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    margin-top: 20px;
  }
  
  /* Project Card Styling */
  .project-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-left: 8px solid transparent;
    /* position: relative; */
    overflow: hidden;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    border-left-color: #007bff;
  }
  
  /* Project Header */
  .project-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-header h2 {
    font-size: 1.1rem; 
    font-weight: 600;
    color: #333;
    margin: 0;
  }
  
  .project-status {
    padding: 6px 18px;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 25px; 
    color: #fff;
    background-color: #28a745;
    display: inline-block;
    /* transition: background-color 0.3s ease, transform 0.3s ease; */
  }
  
  .project-status.private {
    background-color: #dc3545; 
  }
  
  .project-status:hover {
    background-color: #218838; 
    transform: scale(1.05); 
  }
  
  
  /* Project Details */
  .project-details {
    flex: 2;
    font-size: 0.85rem; /* Smaller font for details */
    color: #555;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .project-details div {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-details strong {
    font-weight: 600;
    color: #333;
    margin-left: 500px;
  }
  
  .project-details span {
    font-weight: 400;
    color: #666;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .project-card {
      flex-direction: column;
      padding: 15px;
    }
  
    .project-header h2 {
      font-size: 1rem; /* Smaller title on mobile */
    }
  
    .project-status {
      font-size: 0.8rem; /* Smaller status font on mobile */
      padding: 5px 10px;
    }
  
    .project-details {
      margin-left: 0;
    }
  }
  